#This files shall be ignore by git as they are the product
#of build process

#This will ensure that every one ignores the same file
#.gitignore

.settings/
bin/
compiler/parser/whais.output
compiler/parser/whais.tab.c
compiler/parser/whais.tab.h
tmp/
*~
*.idb
*.pdb
_CL_*
.*.swp
.project
.cproject
tags
.clang_complete

